/* إعدادات الخلفية وشريط التمرير */
body {
  background-color: #fef6fa;
  margin: 0;
  padding: 0;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #d65db1; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #845ec2; 
}